@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")
    <style type="text/css">
        form div {
            padding: 5px;
        }

        .datagrid-header-row td div {
            text-align: center !important;
            font-weight: bold;
        }

        .datagrid-cell
        {
            font-size:14px;
        }

        form div {
            display: inline-block;
        }

        form ul {
            list-style-type:  none;
            list-style-position: outside;
            padding: 0px;
        }

        form li {
            padding: 12px;
            position: relative;
        }

        form label {
            width: 70px;
            margin-top: 3px;
            display: inline-block;
            float: left;
            padding: 3px;
            font-size: 14px;
        }

        #image-preview {
            width: 200px;
            height: 100px;
            position: relative;
            overflow: hidden;
            background-color: #ffffff;
            color: #ecf0f1;
        }

            #image-preview input {
                line-height: 200px;
                font-size: 200px;
                position: absolute;
                opacity: 0;
                z-index: 10;
            }

            #image-preview label {
                position: absolute;
                z-index: 5;
                opacity: 0.5;
                cursor: pointer;
                background-color: #bdc3c7;
                width: 100px;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                text-transform: uppercase;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
            }
    </style>

</head>
<body>
    <div id='Loading' style="position: absolute; z-index: 1000; top: 0px; left: 0px;
    width: 100%; height: 100%; background: gray; text-align: center;">
        <h1 style="top: 48%; position: relative;color:white;">
            加载中···
        </h1>
    </div>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="padding:10px;overflow:hidden;background-color:#F2F2F2;">
            <form id="sForm" method="post">
                <div><span style="padding-left:12px;">工作单号：</span><input class="easyui-textbox" name="WoId" style="width:100px;height:30px;" /> </div>
                <div><span style="padding-left:12px;">客户名称：</span><input class="easyui-textbox" name="CusName" style="width:100px;height:30px;" /></div>
                <div><span style="padding-left:12px;">业务类别：</span><input class="easyui-combobox" name="BizCate" data-options="valueField:'CateId',textField:'CategoryName',url:'/BizSetting/GetBizCategories',width:100,height:30,onSelect:cateSearchOnSelect,editable:false" /></div>
                <div><span style="padding-left:12px;">业务项目：</span><input class="easyui-combobox" id="BizItem" name="BizItem" data-options="valueField:'ItemId',textField:'ItemName',width:150,height:30,editable:false" /></div>
                <div><span style="padding-left:12px;">进度描述：</span><input class="easyui-textbox" name="ProgDesc" data-options="width:150,height:30" /></div>
                <div><a href="javascript:void(0)" id="btnSearch" class="easyui-linkbutton" data-options="iconCls:'fa fa-search fa-lg'" onclick="javascript: $('#sForm').submit();" style="width:100px;">查询</a></div>
            </form>
        </div>
        <div data-options="region:'center',border:true" style="padding:10px;">
            <table class="easyui-datagrid" id="woList"
                   data-options="fit:true,singleSelect:true,fitColumns:true,idField:'WoId',toolbar:'#dgToolbar',onDblClickCell:woOnDblClickCell,onSelect:woOnSelect">
                <thead>
                    <tr>
                        <th data-options="field:'WoId',align:'center',width:30">工作单号</th>
                        <th data-options="field:'CustomerName',align:'center',width:100">客户名称</th>
                        <th data-options="field:'ContractTime',align:'center',width:50,formatter:fmtDate">签约时间</th>
                        <th data-options="field:'BizItemNames',width:100">业务项目</th>
                        <th data-options="field:'Remark',width:100">客户要求</th>
                        <th data-options="field:'BizManager',align:'center',width:50">业务主管</th>
                        <th data-options="field:'FinishTime',align:'center',width:50,formatter:fmtDate">办结时间</th>
                        <th data-options="field:'CommercialExpense',align:'right',width:50,formatter:fmtRMB">业务费用</th>
                        <th data-options="field:'PreferentialAmount',align:'right',width:50,formatter:fmtRMB">优惠金额</th>
                        <th data-options="field:'AdvanceExpenditure',align:'right',width:50,formatter:fmtRMB">代垫支出</th>
                        <th data-options="field:'AmountReceived',align:'right',width:50,formatter:fmtRMB">已收金额</th>
                        <th data-options="field:'State',align:'center',width:50,formatter:fmtState">状态</th>
                        <th data-options="field:'Priority',align:'center',width:50,formatter:fmtPriority">优先级</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div data-options="region:'south',border:true,split:true" style="padding:10px;height:400px;">
            <table class="easyui-datagrid" id="progList"
                   data-options="fit:true,singleSelect:true,fitColumns:true,rownumbers:true,idField:'ProgId',toolbar:'#progToolbar',onSelect:progOnSelect,onDblClickRow:progOnDblClickRow">
                <thead>
                    <tr>
                        <th data-options="field:'CompletedTime',width:50,align:'center',formatter:fmtDate">完成时间</th>
                        <th data-options="field:'StepName',width:100,align:'center'">工作步骤</th>
                        <th data-options="field:'ResultDesc',width:200">办理结果</th>
                        <th data-options="field:'AdvanceExpenditure',width:80,align:'right',formatter:fmtRMB">代垫费用</th>
                        <th data-options="field:'Url',width:100,align:'center',formatter:fmtImage">凭证图片</th>
                        <th data-options="field:'Creator',width:60,align:'center'">记录人</th>
                        <th data-options="field:'CreateTime',width:60,align:'center',formatter:fmtDate">记录时间</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="dgToolbar">
        @if (((System.Security.Claims.ClaimsIdentity)this.Context.User.Identity).HasClaim("role", "progress-admin"))
        {
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus fa-lg',plain:true" onclick="addWo()">新增工单</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-pencil fa-lg',plain:true" onclick="editWo()">修改工单</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-trash-o fa-lg',plain:true" onclick="delWo()">删除工单</a>
        }
    </div>
    <div id="progToolbar">
        <div><span style="padding-left:12px;">业务项目：</span><input class="easyui-combobox" id="progItems"  data-options="valueField:'ItemId',textField:'ItemName',width:200,height:30,editable:false,onSelect:piOnSelect" /></div>
        <div>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-pencil fa-lg',plain:true" onclick="newProg()">新增进度</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-pencil fa-lg',plain:true" onclick="delProg()">删除进度</a>
        </div>
    </div>

    <div id="dialogBiz" class="easyui-dialog" title="工单信息" style="width:750px;height:550px;"
         data-options="iconCls:'fa fa-truck fa-lg',resizable:false,modal:true,closed: true,buttons:'#btnBiz'">
        <form method="post" id="woForm" >
            <ul>
                <li>
                    <div>
                        <label for="CusId">客户名称:</label>
                        <input id="CusId" name="CusId" class="easyui-combobox"
                               data-options="prompt:'请选择业务对应的客户',required:true,width:255,height:35,missingMessage:'请选择业务对应的客户',valueField:'CusId',textField:'CustomerName',url:'/Customer/GetValidCustomers'" />
                    </div>
                    <div>
                        <label for="ContractTime">签约时间:</label>
                        <input id="ContractTime" name="ContractTime" class="easyui-datebox"
                               data-options="prompt:'请输入签约时间',required:true,width:255,height:35,missingMessage:'请输入签约时间'" />
                    </div>
                </li>
                <li>
                    <div>
                        <label for="item">业务项目:</label>
                        <input id="item" class="easyui-tagbox"
                               data-options="prompt:'请选择业务项目',width:600,height:35,missingMessage:'请选择业务项目',editable:false,valueField:'ItemId',textField:'ItemName',groupField:'CategoryName',groupPosition:'sticky',limitToList:true,hasDownArrow: true,onChange:itemOnChange" />
                        <input type="hidden" id="BizItemIds" name="BizItemIds" />
                        <input type="hidden" id="WoId" name="WoId" />
                    </div>
                </li>
                <li>
                    <div>
                        <label for="Remark">客户要求:</label>
                        <input id="Remark" name="Remark" class="easyui-textbox"
                               data-options="prompt:'请输入客户要求',width:600,height:60,missingMessage:'请输入客户要求',multiline:true" />
                    </div>
                </li>
                <li>
                    <div>
                        <label for="FinishTime">办结时间:</label>
                        <input id="FinishTime" name="FinishTime" class="easyui-datebox"
                               data-options="prompt:'请输入办结时间',required:false,width:255,height:35,missingMessage:'请输入办结时间'" />
                    </div>
                    <div>
                        
                            <label for="Priority">优先级:</label>
                            <input id="Priority" name="Priority" class="easyui-combobox"
                                   data-options="prompt:'请选择处理优先级',required:true,width:255,height:35,missingMessage:'请选择处理优先级',valueField:'Value',textField:'Name',url:'/BizProgress/GetWorkOrderPriority'" />
                       
                    </div>
                </li>
                <li>
                    <div><label for="CommercialExpense">业务费用:</label>
                    <input id="CommercialExpense" name="CommercialExpense" class="easyui-numberbox" value="0.00"
                                data-options="width:140,height:35,readonly:true,precision:2,groupSeparator:',',decimalSeparator:'.',prefix:'¥'" /></div>
                    <div>
                        <label for="AdvanceExpenditure">代垫支出:</label>
                        <input id="AdvanceExpenditure" name="AdvanceExpenditure" class="easyui-numberbox" value="0.00"
                               data-options="width:140,height:35,readonly:true,precision:2,groupSeparator:',',decimalSeparator:'.',prefix:'¥'" />
                    </div>
                    <div>
                        <label for="PreferentialAmount">优惠金额:</label>
                        <input id="PreferentialAmount" name="PreferentialAmount" class="easyui-numberbox" value="0.00"
                               data-options="prompt:'请输入优惠金额',required:true,width:140,height:35,missingMessage:'请输入优惠金额',precision:2,groupSeparator:',',decimalSeparator:'.',prefix:'¥'" />
                    </div>
                </li>
                <li>
                    <div>
                        <label for="mgr">业务主管:</label>
                        <input id="mgr" name="mgr" class="easyui-combobox"
                               data-options="prompt:'请选择业务主管',required:true,width:140,height:35,missingMessage:'请选择业务主管',editable:false,valueField:'UserId',textField:'UserName'" />
                        <input type="hidden" id="BizManager" name="BizManager" />
                    </div>
                    <div>
                        <label for="ops">业务员:</label>
                        <input id="ops" name="ops" class="easyui-combobox"
                               data-options="prompt:'请选择业务员',required:true,multiple:true,width:140,height:35,missingMessage:'请选择业务员',editable:false,valueField:'UserId',textField:'UserName'" />
                        <input type="hidden" id="BizOperations" name="BizOperations" />
                    </div>
                    <div>
                        <label for="rec">推广人员:</label>
                        <input id="rec" name="rec" class="easyui-combobox"
                               data-options="prompt:'请选择推广人员',required:true,width:140,height:35,missingMessage:'请选择推广人员',editable:false,valueField:'UserId',textField:'UserName'" />
                        <input type="hidden" id="Recommend" name="Recommend" />
                    </div>
                </li>

            </ul>
        </form>
    </div>

    <div id="dialogProg" class="easyui-dialog" title="业务进度" style="width:400px;height:600px;"
         data-options="iconCls:'fa fa-truck fa-lg',resizable:false,modal:true,closed: true,buttons:'#btnProg'">
        <form method="post" id="progForm" enctype="multipart/form-data">
            <ul>
                <li>
                    <label for="CompletedTime">完成时间:</label>
                    <input id="CompletedTime" name="CompletedTime" class="easyui-datebox" data-options="width:260,height:35,prompt:'请输入进度完成时间，若未完成可留空'" />
                    <input type="hidden" id="ProgId" name="ProgId" />
                    <input type="hidden" id="WorkOrderId" name="WorkOrderId" />
                </li>
                <li>
                    <label for="StepId">工作步骤:</label>
                    <input id="StepId" name="StepId" class="easyui-combobox"
                           data-options="prompt:'请选择工作步骤',required:true,width:260,height:35,missingMessage:'请选择工作步骤',editable:true,valueField:'StepId',textField:'StepName',filter:stepFilter" />
                </li>
                <li>
                    <label for="ResultDesc">办理结果:</label>
                    <input id="ResultDesc" name="ResultDesc" class="easyui-textbox"
                           data-options="required:true,width:260,height:105,multiline:true" />
                </li>
                <li>
                    <label for="AdvanceExpenditure">代垫费用:</label>
                    <input id="AdvanceExpenditure" name="AdvanceExpenditure" class="easyui-numberbox" value="0.00"
                           data-options="width:260,height:35,precision:2,groupSeparator:',',decimalSeparator:'.',prefix:'¥'" />
                </li>
                <li>
                    <label for="SortIndex">进度序号:</label>
                    <input id="SortIndex" name="SortIndex" class="easyui-numberbox" value="1"
                           data-options="width:260,height:35,precision:0" />
                </li>
                <li>
                    <label for="image-preview">凭证图片:</label>
                    <div id="image-preview">
                        <label for="image-upload" id="image-label">选择图片</label>
                        <input type="file" name="image-upload" id="image-upload" />
                    </div>
                </li>

            </ul>
        </form>
    </div>

    <div id="btnBiz">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o fa-lg',plain:false,width:70" onclick="saveBiz()">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-times fa-lg',plain:false,width:70" onclick="closeBiz()">关闭</a>
    </div>
    <div id="btnProg">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o fa-lg',plain:false,width:70" id="btnSaveProg" onclick="saveProg()">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-times fa-lg',plain:false,width:70" onclick="closeProg()">关闭</a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    <script type="text/javascript" src="~/Scripts/jquery.uploadPreview.min.js"></script>
    <script type="text/javascript">

        var global = {
            items: null,
            serverTime : "@DateTime.Now.ToShortDateString()"
        };

        $(function () {
            init();

            $("#btnSearch").click();
            window.setTimeout(' $("#woList").datagrid("selectRow", 0)', 500);
        });

        function init() {
            $("#woForm").form({
                url: '/api/BizProgress/SaveWorkOrder/',
                onSubmit: woFormOnSubmit,
                success: woFormSuccess
            });

            $("#sForm").form({
                url: '/api/BizProgress/GetMyWorkOrders/',
                onSubmit: sFormOnSubmit,
                success: sFormSuccess
            });
            $("#sForm").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnSearch").click();
                }
            });

            $("#progForm").form({
                url: '/api/BizProgress/SaveWorkProgress/',
                onSubmit: progFormOnSubmit,
                success: progFormSuccess
            });

            $.uploadPreview({
                input_field: "#image-upload",
                preview_box: "#image-preview",
                label_field: "#image-label",
                label_default: "选择图片",
                label_selected: "修改图片"
            });

            $.post("/BizProgress/GetBizPersons", null, function (data) {
                $("#mgr,#ops,#rec").combobox("loadData", data);
            });

            $.post("/BizSetting/GetAllBizItems", null, function (data) {
                global.items = data;
                $("#item").combobox("loadData", global.items);
            });
        }

        function woFormOnSubmit() {
            $("#BizManager").val($("#mgr").combobox("getText"));
            $("#BizOperations").val($("#ops").combobox("getText"));
            $("#Recommend").val($("#rec").combobox("getText"));
            $("#BizItemIds").val($("#item").combobox("getValues"));

            return $(this).form('validate');
        }

        function woFormSuccess(data) {
            
            if (responseHandle(data)) {
                $("#woList").datagrid("reload");
                closeBiz();
            }
        }

        function sFormOnSubmit()
        {
            return $(this).form('validate');
        }

        function sFormSuccess(data)
        {
            $("#woList").datagrid("loadData",JSON.parse( data));
        }

        function progFormOnSubmit()
        {
            var row = $('#woList').datagrid("getSelected");
            if (!row) { $.messager.alert('进度', '请选择该进度所对应的工单', 'warning'); return false }

            $("#WorkOrderId").val(row.WoId);
            return $(this).form('validate');
        }

        function progFormSuccess(data)
        {
            if (responseHandle(data)) {
                $("#dialogProg").dialog("close");
                $.post("/api/BizProgress/GetWorkProgress", { WoId: $("#woList").datagrid("getSelected").WoId, ItemId: $("#progItems").combobox("getValue") }, function (data) {
                    $("#progList").datagrid("loadData", data);
                });
                $("#woList").datagrid("reload");
            }
        }

        function cateSearchOnSelect(record)
        {
            $("#BizItem").combobox("clear");
            $("#BizItem").combobox("reload", "/BizSetting/GetBizItemInCate/" + record.CateId);
        }

        function itemOnChange(newValue, oldValue)
        {
            var selVals = $(this).combobox("getValues");
            var selItems = $.grep(global.items, function (n, i) {
                return $.inArray(n.ItemId.toString(), selVals) > -1;
            });

            $("#CommercialExpense").numberbox("setValue", "0.00");
            $.each(selItems, function (i, n) {
                var exp = $("#CommercialExpense").numberbox("getValue");
                
                $("#CommercialExpense").numberbox("setValue", parseFloat(exp) + parseFloat(n.ServicePrice));
            });
        }
      
        function closeBiz() {
            $("#dialogBiz").dialog("close");
        }

        function saveBiz() {
            $('#woForm').submit();
        }

        function addWo() {
            $("#woForm").form("clear");

            $("#woForm").form("load", {
                WoId:0,
                CommercialExpense: 0,
                AdvanceExpenditure:0,
                PreferentialAmount:0
            });

            $("#dialogBiz").dialog("open");
        }

        function editWo()
        {
            var selRow = $("#woList").datagrid("getSelected");
            if (selRow == null)
            {
                $.messager.alert('编辑', '请选择一行记录进行编辑', 'info');
                return false;
            }
            $("#woForm").form("clear");
            $("#woForm").form("load", {
                WoId:selRow.WoId,
                CusId: selRow.CusId,
                ContractTime: selRow.ContractTime,
                BizItemIds: selRow.BizItemIds,
                Remark:selRow.Remark,
                CommercialExpense: selRow.CommercialExpense,
                AdvanceExpenditure:selRow.AdvanceExpenditure,
                PreferentialAmount: selRow.PreferentialAmount,
                Priority: selRow.Priority,
                FinishTime:selRow.FinishTime,
                mgr: selRow.BizManager,
                ops: selRow.BizOperations,
                rec: selRow.Recommend
            });

            $("#item").tagbox("setValues", selRow.BizItemIds.split(','));

            $("#dialogBiz").dialog("open");
        }

        function delWo()
        {
            var selRow = $("#woList").datagrid("getSelected");
            if (selRow == null)
            {
                $.messager.alert('删除', '请选择要删除的工单', 'info');
                return false;
            }
            $.messager.confirm('删除', '你确定要删除这个工单吗？', function (r) {
                if (r) {
                    $.post("/api/BizProgress/DeleteWorkOrder", { WoId: selRow.WoId }, function (data) {
                        if (responseHandle(data)) {
                            $("#woList").datagrid("reload");
                        }
                    });
                }
            });
        }

        function woOnDblClickCell()
        {
            editWo();
        }

        function fmtState(value, row, index) {
            switch (value) {
                case 1:
                    return "新建工单";
                case 2:
                    return "办理中";
                case 3:
                    return "办理完结";
                case -1:
                    return "已删除";
            }
        }

        function woOnSelect(index, row)
        {
            var iids = row.BizItemIds.split(',');
            var itemList = $.grep(global.items, function (n, i) {
                return $.inArray(n.ItemId.toString(), iids) > -1;
            });

            $("#progItems").combobox("clear");
            $("#progItems").combobox("loadData", itemList);

            if (itemList.length > 0)
            {
                $("#progItems").combobox("select", itemList[0].ItemId);
            }

            var fDate = new Date(Date.parse(fmtDate(row.FinishTime).replace(/-/g, "/")));
            var curDate = new Date(Date.parse(global.serverTime.replace(/-/g, "/")));
            if(fDate<curDate)
            {
                $("#btnSaveProg").hide();
            }
            else
            {
                $("#btnSaveProg").show();
            }
        }

        function newProg()
        {
            $("#progForm").form("clear");
            $.uploadPreview({
                input_field: "#image-upload",
                preview_box: "#image-preview",
                label_field: "#image-label",
                label_default: "选择图片",
                label_selected: "修改图片"
            });

            $("#progForm").form("load", {
                ProgId: -1,
                AdvanceExpenditure: 0,
                SortIndex: 1
            });

            $("#image-preview").css('background-image', 'url()');

            $("#dialogProg").dialog("open");
        }

        function delProg()
        {
            var selProg = $("#progList").datagrid("getSelected");
            if (!selProg)
            {
                $.messager.alert('删除进度', '请选择要删除的进度记录');
                return;
            }

            $.messager.confirm('删除进度', '你确定要删除该进度记录吗?', function (r) {
                if (r) {
                    $.post("/api/BizProgress/DeleteWorkProgress", { ProgId: selProg.ProgId }, function (data) {
                        if (responseHandle(data)) {
                            $.post("/api/BizProgress/GetWorkProgress", { WoId: $("#woList").datagrid("getSelected").WoId, ItemId: $("#progItems").combobox("getValue") }, function (data) {
                                $("#progList").datagrid("loadData", data);
                            });
                        }
                    });
                }
            });
        }

        function closeProg()
        {
            $("#dialogProg").dialog("close");
        }

        function piOnSelect(record)
        {
            $("#StepId").combobox("clear");
            $("#StepId").combobox("reload", "/BizSetting/GetBizStepInItem/" + record.ItemId);

            $.post("/api/BizProgress/GetWorkProgress", { WoId: $("#woList").datagrid("getSelected").WoId, ItemId: record.ItemId }, function (data) {
                $("#progList").datagrid("loadData", data);
            });
            
        }

        function progOnSelect(index, row)
        {
            $("#progForm").form("clear");
            $.uploadPreview({
                input_field: "#image-upload",
                preview_box: "#image-preview",
                label_field: "#image-label",
                label_default: "选择图片",
                label_selected: "修改图片"
            });

            $("#progForm").form("load", {
                ProgId: row.ProgId,
                CompletedTime: row.CompletedTime,
                StepId: row.StepId,
                ResultDesc: row.ResultDesc,
                AdvanceExpenditure: row.AdvanceExpenditure,
                SortIndex:row.SortIndex
            });

            $("#image-preview").css('background-image', 'url(' + row.Url + ')');
            $("#image-preview").css('background-size', '200px 100px');
            $("#image-preview").css('background-repeat', 'no-repeat');
        }

        function progOnDblClickRow(index, row)
        {
            $("#dialogProg").dialog("open");
        }

        function saveProg()
        {
            $('#progForm').submit();
        }

        function fmtPriority(value, row, index)
        {
            switch(value)
            {
                case 1:
                    return "可延迟处理";
                case 2:
                    return "限时办理";
                case 3:
                    return "紧急处理";
            }
        }

        function stepFilter(q, row)
        {
            var opts = $(this).combobox('options');
            return row[opts.textField].indexOf(q) >= 0;
        }

        $.parser.onComplete = function () {
            $("#Loading").remove();
        }
    </script>
</body>
</html>
