@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")
    <style type="text/css">
        form div {
            padding: 5px;
            display: inline-block;
        }

        .datagrid-header-row td div {
            text-align: center !important;
            font-weight: bold;
        }

        form ul {
            list-style-type: none;
            list-style-position: outside;
            padding: 0px;
        }

        form li {
            padding: 12px;
            position: relative;
        }

        form label {
            width: 100px;
            margin-top: 3px;
            display: inline-block;
            float: left;
            padding: 3px;
            font-size: 14px;
        }

    </style>

</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="padding:10px;overflow:hidden;background-color:#F2F2F2;">
            <form id="sForm" method="post">
                <div><span >客户编号：</span><input class="easyui-textbox" name="CusId" data-options="width:220,height:30" /></div>

                <div><span >客户名称：</span><input class="easyui-textbox" name="CustomerName" data-options="width:220,height:30" /></div>

                <div><span>联系电话：</span><input class="easyui-textbox" name="Phone" data-options="width:220,height:30" /></div>

                <div><a href="#"  class="easyui-linkbutton" data-options="iconCls:'fa fa-search fa-lg'" onclick="formSubmit()" style="width:100px;">查询</a></div>
            </form>
        </div>
        <div data-options="region:'center',border:true" style="padding:10px;">
            <table class="easyui-datagrid" id="vvList"
                   data-options="fit:true,singleSelect:true,fitColumns:true,toolbar:'#cusToolbar',onDblClickRow:dgOnDblClickRow,idField:'CusId',rowStyler:rsCustomer">
                <thead>
                    <tr>
                        <th data-options="field:'CusId',width:50,align:'center'">客户编码</th>
                        <th data-options="field:'CustomerName',width:150,align:'center'">客户名称</th>
                        <th data-options="field:'PromName',width:60,align:'center'">客户推荐人</th>
                        <th data-options="field:'CustomerAddress',width:80,align:'center'">住所</th>
                        <th data-options="field:'BusinessAddress',width:60,align:'center'">实际经营地</th>
                        <th data-options="field:'Contacts',width:60,align:'right'">联系人</th>
                        <th data-options="field:'Phone',width:60,align:'right'">联系电话</th>
                        <th data-options="field:'Level',width:60,align:'right'">客户级别</th>
                        <th data-options="field:'State',width:60,align:'center',formatter:fmtState">状态</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="cusToolbar">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-plus fa-lg',plain:true" onclick="add()">新增客户</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-pencil fa-lg',plain:true" onclick="edit()">修改客户</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-trash-o fa-lg',plain:true" onclick="del()">删除客户</a>
    </div>

    <div id="dialogCus" class="easyui-dialog" title="客户信息" style="width:500px;height:520px;"
         data-options="iconCls:'fa fa-truck fa-lg',resizable:false,modal:true,closed: true,buttons:'#btnCus'">
        <form method="post" id="cusForm" >
            <ul>
                <li>
                    <label for="CustomerName">客户名称:</label>
                    <input id="CustomerName" name="CustomerName" class="easyui-textbox"
                           data-options="prompt:'请填写客户名称',required:true,width:260,height:35,missingMessage:'请填写客户名称'" />
                    <input type="hidden" id="CusId" name="CusId" />
                </li>
                <li>
                    <label for="PromName">外部推荐人:</label>
                    <input id="PromName" name="PromName" class="easyui-textbox"
                           data-options="prompt:'请填写推荐人名称',required:true,width:260,height:35,missingMessage:'请填写推荐人名称'" />
                </li>
                
                <li>
                    <label for="Contacts">联系人:</label>
                    <input id="Contacts" name="Contacts" class="easyui-textbox"
                           data-options="prompt:'请输入联系人',required:true,width:260,height:35,missingMessage:'请输入联系人'" />

                </li>
                <li>
                    <label for="Phone">联系电话:</label>
                    <input id="Phone" name="Phone" class="easyui-textbox"
                           data-options="prompt:'请输入联系电话',required:true,width:260,height:35,missingMessage:'请输入联系电话'" />

                </li>
                <li>
                    <label for="CustomerAddress">客户住所:</label>
                    <input id="CustomerAddress" name="CustomerAddress" class="easyui-textbox"
                           data-options="prompt:'请输入客户住所',required:true,width:260,height:35,missingMessage:'请输入客户住所'" />

                </li>

                <li>
                    <label for="BusinessAddress">实际经营地:</label>
                    <input id="BusinessAddress" name="BusinessAddress" class="easyui-textbox"
                           data-options="prompt:'请输入实际经营地',width:260,height:35,missingMessage:'请输入实际经营地'" />

                </li>
                <li>
                    <label for="Level">客户级别:</label>
                    <input id="Level" name="Level" class="easyui-combobox"
                           data-options="prompt:'请设置客户级别',width:260,height:35,missingMessage:'请设置客户级别',editable:false,valueField:'Value',textField:'Name',url:'/Customer/GetCustomerLevel'"  />

                </li>

            </ul>
        </form>
    </div>

    <div id="btnCus">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-floppy-o fa-lg',plain:false,width:70" onclick="saveBiz()">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-times fa-lg',plain:false,width:70" onclick="closeBiz()">关闭</a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript">

    $(function () {
        init();

        formSubmit();
    });

    function init()
    {
        $("#cusForm").form({
            url: "/api/BizCustomer/SaveBizCustomer/",
            onSubmit: cusFormOnSubmit,
            success: cusFormSuccess
        });

        $("#sForm").form({
            url: "/api/BizCustomer/SearchCustomers/",
            onSubmit: formOnSubmit,
            success: formSuccess
        });
        
    }

    function formOnSubmit() {
        return $(this).form('validate');
    }

    function formSuccess(data) {
        if (responseHandle(data)) {
            $("#vvList").datagrid("loadData", []);
            $("#vvList").datagrid("loadData", JSON.parse(data));
        }
    }

        function cusFormOnSubmit() {
        return $(this).form('validate');
    }

    function cusFormSuccess(data) {
        if (responseHandle(data)) {
            formSubmit();
            closeBiz();
        }
    }

    function formSubmit()
    {
        $('#sForm').submit();
    }

        function add() {
            $("#cusForm").form("clear");
            $("#cusForm").form("load", {
                CusId: 0,
                Level:1
            });
            $("#dialogCus").dialog("open");
        }

        function edit()
        {
            var selRow = $("#vvList").datagrid("getSelected");
            if (selRow == null) {
                $.messager.alert('编辑', '请选择一个要编辑的客户信息', 'info');
                return false;
            }
            $("#cusForm").form("load", {
                CusId: selRow.CusId,
                CustomerName: selRow.CustomerName,
                PromName: selRow.PromName,
                CustomerAddress: selRow.CustomerAddress,
                BusinessAddress: selRow.BusinessAddress,
                Contacts: selRow.Contacts,
                Phone: selRow.Phone,
                Level: selRow.Level
            });
            $("#dialogCus").dialog("open");
        }

        function del()
        {
            var selRow = $("#vvList").datagrid("getSelected");
            if (selRow == null)
            {
                $.messager.alert('删除', '请选择要删除的客户信息', 'info');
                return false;
            }
            $.messager.confirm('删除', '你确定要删除该客户信息吗？', function (r) {
                if (r){
                    $.post("/api/BizCustomer/Delete/", { CusId:selRow.CusId}, function (data) {
                        if (responseHandle(data)) {
                            formSubmit();
                        }
                    });
                }
            });
        }

    function closeBiz() {
        $("#dialogCus").dialog("close");
    }

    function saveBiz() {
        $('#cusForm').submit();
        }

        function dgOnDblClickRow(index, row)
        {
            edit();
        }

        function fmtState(value, row, index)
        {
            switch(value)
            {
                case 1:
                    return "正常";
                case 0:
                    return "欠费停止服务";
                case -1:
                    return "已注销";
                case -2:
                    return "已删除";
            }
        }

        function rsCustomer(index, row)
        {
            switch (row.State)
            {
                case 0:
                    return "background-color:red;color:#fff;font-weight:bold;";
                case -1:
                    return "background-color:gray;color:#fff;";
                case -2:
                    return "text-decoration:line-through;";
            }
        }

    </script>

</body>
</html>
