
<div class="easyui-panel" data-options="fit:true,border:false" style="padding:10px;">
    <table id="acctBook" class="easyui-datagrid"
           data-options="fitColumns:true,singleSelect:true,emptyMsg:'（无记录）',toolbar:'#tbAcctBook',idField:'AbId',onDblClickRow:dg_onDblClickRow">
        <thead>
            <tr>
                <th data-options="field:'CompanyName',width:100,align:'center'">公司名称</th>
                <th data-options="field:'Currency',width:100,align:'center'">币种</th>
                <th data-options="field:'StartYear',width:100,align:'center',formatter:fmt_Period">启用会计期</th>
                @*<th data-options="field:'StartPeriod',width:100,align:'center'">账期</th>*@
                <th data-options="field:'FiscalSystem',width:100,align:'center'">会计制度</th>
                <th data-options="field:'Creator',width:100,align:'center'">创建人</th>
                <th data-options="field:'CreateTime',width:100,align:'center'">创建时间</th>
                <th data-options="field:'State',width:100,align:'center',formatter:fmt_State">状态</th>
            </tr>
        </thead>
    </table>

    <div id="tbAcctBook">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="append()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="remove()">删除</a>
    </div>
</div>

<div id=""></div>

<div class="easyui-dialog" id="bookWin" title="账套" style="width:400px;height:280px;padding:10px;font-size:14px;" data-options="closed:true">
    <form method="post" id="bookForm">
        <div>
            <input class="easyui-textbox" id="ComapnyName" name="ComapnyName" data-options="label:'公司名称',required:true" style="width:300px;height:32px">
        </div>
        <div>
            <input class="easyui-textbox" id="Currency" name="Currency" data-options="label:'本位币种',required:true,value:'RMB'" style="width:300px;height:32px">
        </div>
        <div>
            <input class="easyui-numberspinner" id="StartYear" name="StartYear" data-options="label:'启用期间',required:true,min:2010,max:2050" style="width:160px;height:32px" value="@DateTime.Now.Year"> 年
            <input class="easyui-numberspinner" id="StartPeriod" name="StartPeriod" data-options="required:true,min:1,max:12" style="width:60px;height:32px" value="1"> 期
        </div>
        <div>
            <select id="Fiscal" class="easyui-combobox" style="width:300px;height:32px;" data-options="label:'会计制度',panelMaxHeight:60">
                @foreach(var f in typeof(Sintoacct.Ledger.Models.FiscalSystem).GetFields())
                {
                    if(f.FieldType.IsEnum)
                    {
                        <option value="@((int)Enum.Parse(typeof(Sintoacct.Ledger.Models.FiscalSystem),f.Name,true))">@f.Name</option>
                    }
                }
            </select>
        </div>
        <div style="float:right;margin-top:10px;">
            <a id="btnSave" href="#" class="easyui-linkbutton" style="width:80px;height:35px;" onclick="form_btnSave()">创建</a>
            <a id="btnClose" href="#" class="easyui-linkbutton" style="width:80px;height:35px;" onclick="form_btnClose()">返回</a>

            <input type="hidden" id="FiscalSystem" name="FiscalSystem" />
            <input type="hidden" id="AbId" name="AbId" />
            @Html.AntiForgeryToken()
        </div>
    </form>
</div>


@section scripts
{
    <script type="text/javascript">

        var obj = {
            datagrid: "#acctBook",
            form: "#bookForm",
            bookWin: "#bookWin",
            cache: "#dataCache"
        };

        $(function () {
            init();
        });

        function init()
        {
            $(obj.form).form({
                url: "/api/acctbook/save/",
                onSubmit: form_OnSubmit,
                success: form_Success
            });

            dg_load();
        }

        function dg_load()
        {
            var dgData = $(obj.cache).data("MyAcctBook");

            if (dgData == null || dgData == undefined) {
                $.get("/api/acctbook/MyAcctBook/", null, function (data) {
                    $(obj.datagrid).datagrid("loadData", data);
                    $(obj.cache).data("MyAcctBook", data);
                });
            }
            else
            {
                $(obj.datagrid).datagrid("loadData", dgData);
            }
        }

        function form_btnClose()
        {
            $(obj.bookWin).dialog("close");
        }

        function form_btnSave()
        {
            $("#FiscalSystem").val($("#Fiscal").combobox("getValue"));

            $(obj.form).submit();
        }

        function form_OnSubmit()
        {
            return $(this).form('validate');
        }
        function form_Success(data)
        {
            if(responseHandle(data))
            {
                $(obj.cache).removeData("MyAcctBook");
                dg_load();

                $(obj.bookWin).dialog("close");
            }
        }

        function append()
        {
            $(obj.bookWin).dialog("open");
        }

        function remove()
        {
            var row = $(obj.datagrid).datagrid("getSelected");
            if (row != null) {
                $.messager.confirm('删除', '您确定要删除该账套吗？', function (r) {
                    if (r) {
                        $.post("/api/acctbook/del/", { AbId: row.AbId }, function (data) {
                            if (responseHandle(data)) {
                                $(obj.cache).removeData("MyAcctBook");
                                dg_load();
                            }
                        });
                    }
                });
            }
            else
            {
                $.messager.alert('删除', '请选择要删除的账套', 'warning');
            }
        }

        function fmt_State(value, row, index)
        {
            if(value == 1)
            {
                return "正常";
            }
            else
            {
                return "已删除";
            }
        }

        function fmt_Period(value, row, index)
        {
            return row.StartYear.toString() + pad(row.StartPeriod,2);
        }

        function dg_onDblClickRow(index, row)
        {
            location.replace("/Ledger/LedgerFrame?abid="+row.AbId);
        }

        /* 质朴长存法  by lifesinger */
        function pad(num, n) {
            var len = num.toString().length;
            while (len < n) {
                num = "0" + num;
                len++;
            }
            return num;
        }

    </script>
}