@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")

    <style type="text/css">
        form div {
            padding:5px;
        }

        .datagrid-header-row td {
            text-align:center;
            font-weight:bold;
        }

        form div{
            display:inline-block;
        }
    </style>
</head>
<body>
    <div id='Loading' style="position: absolute; z-index: 1000; top: 0px; left: 0px;
    width: 100%; height: 100%; background: gray; text-align: center;">
        <h1 style="top: 48%; position: relative;color:white;">
            加载中···
        </h1>
    </div>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="padding:10px;overflow:hidden;background-color:#F2F2F2;">
            <form id="sForm" method="post">
                <div>会计期间：<input class="easyui-combobox" id="StartPeriod" name="StartPeriod" data-options="valueField:'val',textField:'text'" style="width:100px;height:30px;" /> 至 <input class="easyui-combobox" id="EndPeriod" name="EndPeriod" data-options="valueField:'val',textField:'text'" style="width:100px;height:30px;" /></div>

                <div><span style="padding-left:12px;">凭证字：</span><input class="easyui-combobox" name="CertWord" data-options="valueField:'CertWord',textField:'CertWord',url:'/api/acctbook/MyCertWordArray',width:100,height:30,method:'GET'" /></div>

                <div><span style="padding-left:12px;">凭证号：</span><input class="easyui-textbox" name="CertWordSN" data-options="width:220,height:30,prompt:'请输入凭证号或凭证号范围'" /></div>

                <div><span>凭证状态：</span><input class="easyui-combobox" name="VoucherState" data-options="valueField:'val',textField:'text'" style="width:100px;height:30px;" /></div>

                <div ><a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript: $('#sForm').submit();" style="width:100px;">查询</a></div>
            </form>
        </div>
        <div data-options="region:'center',border:false" style="padding:10px;">
            <table class="easyui-datagrid"  id="vvList"
                   data-options="fit:true,singleSelect:true,onLoadSuccess:onLoadSuccess,fitColumns:true,toolbar:'#vvListMenu'">
                <thead>
                    <tr>
                        <th data-options="field:'VoucherDate',width:70,align:'center',formatter: fmtDate">日期</th>
                        <th data-options="field:'CertWord',width:30,formatter:fmtCertWord">凭证字号</th>
                        <th data-options="field:'Abstract',width:250">摘要</th>
                        <th data-options="field:'Account',width:250">科目</th>
                        <th data-options="field:'Debit',width:50">借方金额</th>
                        <th data-options="field:'Credit',width:50">贷方金额</th>
                        <th data-options="field:'Creator',width:30,align:'center'">制单人</th>
                        <th data-options="field:'Review',width:30,align:'center'">审核人</th>
                        <th data-options="field:'VId',width:40,align:'center',formatter: fmtOperate">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="vvListMenu" >
        <a href="#" id="addDetail" class="easyui-linkbutton" data-options="plain:false"
           onclick="top.window.AddTabIframe('录凭证', '/ledger/Voucher')">新增</a>
        <a href="#" id="editDetail" class="easyui-linkbutton" data-options="plain:false"
           onclick="print()">打印</a>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript">


    $(function () {
        init();
    });

    function init()
    {
        $("#sForm").form({
            url: "/api/voucher/viewVoucher/",
            onSubmit: formOnSubmit,
            success: formSuccess
        });
        $('#sForm').submit();

        $.get("/api/LedgerSheet/GetMyPaymentTerms", null, function (data) {
            $("#StartPeriod").combobox("loadData", data);
            $("#EndPeriod").combobox("loadData", data);
        });

    }

    function formOnSubmit() {
        return $(this).form('validate');
    }

    function formSuccess(data) {
        
        $("#vvList").datagrid("loadData", JSON.parse(data));
        
    }

    function onLoadSuccess(data) {
        
        for (var i = 0; i < data.rows.length; i++) {
            $(this).datagrid('mergeCells', {
                index: data.rows[i].MergeIndex,
                field: 'VoucherDate',
                rowspan: data.rows[i].RowSpan
            });

            $(this).datagrid('mergeCells', {
                index: data.rows[i].MergeIndex,
                field: 'CertWord',
                rowspan: data.rows[i].RowSpan
            });

            $(this).datagrid('mergeCells', {
                index: data.rows[i].MergeIndex,
                field: 'Creator',
                rowspan: data.rows[i].RowSpan
            });

            $(this).datagrid('mergeCells', {
                index: data.rows[i].MergeIndex,
                field: 'Review',
                rowspan: data.rows[i].RowSpan
            });

            $(this).datagrid('mergeCells', {
                index: data.rows[i].MergeIndex,
                field: 'VId',
                rowspan: data.rows[i].RowSpan
            });
        }
    }

    function fmtOperate(value, row, index)
    {
        var aBtn = '<a href="javascript:modVoucher(' + value + ')">修改</a>';
        aBtn += '<br/><a href="javascript:delVoucher(' + value + ')">删除</a>';

        return aBtn;
    }

    function modVoucher(vid)
    {
        top.AddTabIframe('凭证', '/ledger/Voucher/' + vid);
    }

    function delVoucher(vid) {
        alert(vid);
    }

    function fmtCertWord(value, row, index)
    {
        return '<a href="javascript:top.window.AddTabIframe(\'凭证\', \'/ledger/Voucher/' + row["VId"] + '\')" >' + value + '</a>';
    }

    $.parser.onComplete = function () {
        $("#Loading").remove();
    }
    </script>
</body>
</html>
