@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")

   <style type="text/css">
       .mod-toolbar-top:after{content:".";display:block;clear:both;height:0;overflow:hidden;}
       .mod-toolbar-top{padding:0 18px;margin:18px 0;color:#555;zoom:1;}

       .mod-toolbar-top .left{float:left;}
       .mod-toolbar-top .right{float:right;display:inline;margin-right:-10px; height: 30px;}

       .voucher_wrap { margin-left: 18px; padding: 15px 45px;  border: 1px solid #cfcfcf; background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,0.2); position: relative; }
       .voucher_tit { display: inline; margin-right: 20px; font: 28px/1.8 "Microsoft Yahei"; text-align: center; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
       .voucher_top { padding-top: 20px; margin-bottom: 10px; overflow: hidden; zoom: 1; }
       .voucher_top .tit_wrap { margin: -20px 0 0 110px; }
       .voucher_top .attach_wrap { float: right; }
       .voucher_top .attach_wrap .ui-input { width: 25px; }
       .voucher_top .mark_wrap, .voucher_top .tit_wrap { float: left; }
       .voucher_top .mark_wrap .txt { display: inline-block;zoom: 1; line-height: 30px; vertical-align: middle; }

       .datagrid-cell .money_unit { height: 22px; line-height: 22px; font-weight: normal; border-top: 1px solid #dadada; text-align: center; }
       .datagrid-cell .money_unit span { float: left; display: inline; width: 19px; height: 100%; margin-right: 1px; background-color: #fff; }
       .datagrid-cell .money_unit .last { margin-right: 0; width:18px;}

       .datagrid-btable td[field="Debit"] .col_debite,.datagrid-btable td[field="Credit"] .col_credit, .datagrid-htable td[field="Debit"] .money_unit, .datagrid-htable td[field="Credit"] .money_unit { background-image: url('/Content/images/money_rp.png'); background-repeat: repeat-y; }
       .datagrid-cell .col_debite, .datagrid-cell .col_credit, .datagrid-cell .col_money { width: 218px; }
           .datagrid-cell .col_debite .cell_val, .datagrid-cell .col_credit .cell_val {
               overflow: hidden;
               font-family: 'tahoma';
               font-weight: bold;
               font-size: 14px;
               letter-spacing: 11px;
               overflow: hidden;
               position: relative;
               right: -5px;
               *right: 4px;
           }
       .datagrid-cell .col_debite, .datagrid-cell .col_credit, .datagrid-cell .col_money { width: 218px; }
       .datagrid-cell .col_debite .cell_val, .datagrid-cell .col_credit .cell_val { overflow: hidden; font-family: 'tahoma'; font-weight: bold; font-size: 14px; letter-spacing: 11px; overflow: hidden; position: relative; right: -5px;text-align: right; }
       .has-audit, .has-checkout { width: 150px; height: 74px; background: url(/Content/images/audit.png) 0 0 no-repeat; position: absolute; left: 770px; top: 100px; }

       .datagrid-header-row td {
            text-align:center;
            font-weight:bold;
        }

       li {
           list-style:none;
           display:inline;
       }
   </style>
</head>
<body >
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',title:'记账凭证'" >
            <div class="easyui-panel" style="width:1200px;padding:20px;">
                <div class="mod-toolbar-top">
                    <div class="left">
                        <a class="easyui-linkbutton" id="add" onclick="addVoucher()">新增</a>
                        <a class="easyui-linkbutton" id="edit" onclick="saveVoucher()">保存</a>
                        <a class="easyui-linkbutton" id="print">打印</a>
                        <a class="easyui-linkbutton" id="audit" onclick="reviewVoucher()">审核</a>
                        <a class="easyui-linkbutton" id="copy">复制</a>
                        <a class="easyui-linkbutton" id="delete" onclick="delVoucher()">删除</a>
                    </div>
                    <div class="right">
                        <a class="easyui-linkbutton" id="prev" title="上一张" onclick="prevClick()">&lt;&lt;</a>
                        <a class="easyui-linkbutton" id="next" title="下一张" onclick="nextClick()">&gt;&gt;</a>
                    </div>
                </div>
                <div class="voucher_wrap">
                    <div class="voucher_top">
                        <div class="mark_wrap">
                            <span class="txt">凭证字</span>
                            <input id="cw" class="easyui-combobox" data-options="valueField:'CwId',textField:'CertWord',url:'/api/acctbook/MyCertWordArray',width:60,height:30,method:'GET',editable:false,onLoadSuccess:cwOnLoadSuccess">
                            <input id="ss" class="easyui-numberspinner" data-options="min:1,max:999,width:60,height:30" value="1">
                            <span class="txt">号</span>
                            <span class="date_wrap">
                                <span class="txt">日期</span>
                                <input id="dd" type="text" class="easyui-datebox" style="width:100px;height:30px;" data-options="onChange:onDateChange">
                            </span>
                        </div>
                        <div class="tit_wrap">
                            <h1 class="voucher_tit">记账凭证</h1>
                            <span id="vch_year"></span>年第<span id="vch_period"></span>期
                        </div>
                        <span class="attach_wrap">
                            <a href="javascript:invoiceFile()">附单据</a>
                            <input type="text" id="attCw" class="easyui-numberbox" value="0" data-options="min:0,width:60,height:30">
                            张
                        </span>
                        <input type="hidden" id="VId" value="0" />
                    </div>
                    <table class="easyui-datagrid" id="voucherTab" data-options="singleSelect: true,idField:'VdId',onClickCell: onClickCell,onBeginEdit:dgOnBeginEdit">
                        <thead>
                            <tr>
                                <th data-options="field:'Abstract',width:280,editor:{type:'textbox',options:{buttonText:'摘要',onClickButton:absClickButton}}" rowspan="2">摘要</th>
                                <th data-options="field:'AccId',formatter:scFormatter,width:280,editor:{type:'combotree'}" rowspan="2">会计科目</th>
                                <th>借方金额</th>
                                <th>贷方金额</th>
                            </tr>
                            <tr>
                                <th data-options="field:'Debit',width:230,formatter:debiteFormatter,editor:{type:'numberbox'}">
                                    <div class="money_unit"><span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                                </th>
                                <th data-options="field:'Credit',width:230,formatter:creditFormatter,editor:{type:'numberbox'}">
                                    <div class="money_unit"><span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="abstractsWin" class="easyui-dialog" title="摘要选择" style="width:400px;height:500px;" data-options="modal:true,closed: true">
                    <div class="easyui-layout" data-options="fit:true">
                        <div data-options="region:'north',split:false" style="padding:5px;background:#eee;height:150px;">
                            <input class="easyui-textbox" id="absContent" data-options="multiline:true,label:'摘要内容',labelPosition:'top'" style="width:100%;height:80px;">
                            <div style="float:right;margin-top:10px;">
                                <a class="easyui-linkbutton" onclick="absSave()">保 存</a>
                                <a class="easyui-linkbutton" onclick="absClose()">取 消</a>
                            </div>
                        </div>
                        <div data-options="region:'center'">
                            <table class="easyui-datagrid" id="absList" data-options="fit:true,singleSelect: true,fitColumns:true,idField:'AbsId',emptyMsg:'无记录',onDblClickRow:dgOnDblClickRow">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Abstract',width:240,align:'center'">摘要</th>
                                        <th data-options="field:'AbsId',width:100,align:'center',formatter:fmtAbstract">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div data-options="region:'east',title:'原始凭证'" style="width:300px;">
            <ul id="invList"></ul>
        </div>
        </div>
    <div id="auditMark" class="has-audit" style="display:none;"></div>
    <div id="dataCache"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript">

        //全局定义
        var globVar = {
            voucher: null,                  //凭证数据
            voucherIndex: -1,               //当前凭证实例在集合中的索引
            vTable: "#voucherTab",          //凭证列表名称
            cache: "#dataCache",            //缓存div容器
            abstractData: null,             //摘要数据
            accountData: null               //科目数据
        };

        //======初始化=======
        $(function () {
            initData();
        });

        
        function loadVoucher(vid) {
            $.get('/api/voucher/myVoucher?vid=' + vid, function (data) {
                binding(data);
            });
        }
        

        function initData()
        {
            $("#dd").datebox("setValue", (new Date()).toLocaleDateString());

            for (var i = 0; i < 4; i++) $(globVar.vTable).datagrid('appendRow', { VId: 0, Abstract: "", AccId: "", AccountCode: "", Quantity: 0, Price: 0, AccountName: "", Debit: 0, Credit: 0 });

            $(globVar.vTable).datagrid('acceptChanges');

            $.get("/api/voucher/myAbstracts/", null, function (data) {
                globVar.abstractData = data;
            });

            $.get("/api/acctbook/accTreeOfCate", { acctCateId: 0 }, function (data) {
                globVar.accountData = data;
            });

            $.get("/api/voucher/myVouchers", null, function (data) {
                globVar.voucher = data;
            });
        }

        function newVoucher()
        {
            $("#VId").val(0);
            $("#cw").combobox("reload");
            $("#ss").numberspinner("setValue", 1);
            $("#dd").datebox("setValue", (new Date()).toLocaleDateString());
            onDateChange($("#dd").datebox("getValue"));

            $("#attCw").numberbox("setValue", 0);
            $("#auditMark").hide();

            $(globVar.vTable).datagrid("loadData", []);

            for (var i = 0; i < 4; i++) $(globVar.vTable).datagrid('appendRow', { VId: 0, Abstract: "", AccId: "", AccountCode: "", Quantity: 0, Price: 0, AccountName: "", Debit: 0, Credit: 0 });

            $(globVar.vTable).datagrid('acceptChanges');
        }

        function binding(voucher) {
            $("#VId").val(voucher.VId);
            $("#cw").combobox("select", voucher.CwId);
            $("#ss").numberspinner("setValue", voucher.CertWordSN);
            $("#dd").datebox("setValue", voucher.VoucherDate.substr(0, voucher.VoucherDate.indexOf("T")));
            onDateChange($("#dd").datebox("getValue"));

            $("#attCw").numberbox("setValue", voucher.InvoiceCount);
            if (voucher.State == 2) $("#auditMark").show(); else $("#auditMark").hide();

            $(globVar.vTable).datagrid("loadData", voucher.VoucherDetails);

            invoiceBind(voucher);
        }

        function invoiceBind(voucher) {
            if (voucher == null) return;

            $("#invList").empty();
            $.each(voucher.Invoices, function (i, n) {
                var a = '<a href="' + n.RelateFileName + '" target="_blank" title="' + n.SourceFileName + '"><img src="' + n.RelateFileName + '" style="width:200px;height:150px;" /> </a>';
                $("#invList").append($(a).wrap("<li></li>"));
            });
        }

        //=========初始化=======

        //=========事件响应=====
        function debiteFormatter(value, row, index) {
            if (value.toString().indexOf(".") == -1)
                value = value * 100;
            else
                value = value.replace(/./gi, "");

            return '<div class="col_debite"><div class="cell_val debit_val">' + value + '</div></div>';
        }
        function creditFormatter(value, row, index) {
            if (value.toString().indexOf(".") == -1)
                value = value * 100;
            else
                value = value.replace(/./gi, "");

            return '<div class="col_credit"><div class="cell_val credit_val">' + value + '</div></div>';
        }
        function scFormatter(value, row, index) {
            if (value > 0 )
                return row.AccountCode + " " + row.AccountName;
            else
                return "";
        }
        function absClickButton() {
            $("#absList").datagrid("loadData",globVar.abstractData);
            $("#abstractsWin").dialog("open");
        }
        function absClose() {
            $("#abstractsWin").dialog("close");
        }
        function absSave()
        {
            var absId = 0;
            var selAbs = $("#absList").datagrid("getSelected");
            if(selAbs)
            {
                absId = selAbs.AbsId;
            }

            $.post("/api/voucher/saveAbstract/", { AbsId: absId, Abstract: $("#absContent").textbox("getText") }, function (data) {
                if(responseHandle(data))
                {
                    $.get("/api/voucher/myAbstracts/", null, function (data) {
                        globVar.abstractData = data;
                        $("#absList").datagrid("loadData", globVar.abstractData);
                    });
                }
            });
        }
        function absDel(absid)
        {
            $.messager.confirm('摘要', '您确定要删除该摘要吗？', function (r) {
                if (r) {
                    $.post("/api/voucher/delAbstract", { AbsId: absid }, function (data) {
                        if(responseHandle(data))
                        {
                            $.get("/api/voucher/myAbstracts/", null, function (data) {
                                globVar.abstractData = data;
                                $("#absList").datagrid("loadData", globVar.abstractData);
                            });
                        }
                    });
                }
            });
            
        }

        function onDateChange(newValue, oldValue) {
            var dArr = newValue.split('-');
            if (dArr.length == 3) {
                var m = new Number(dArr[1]);
                $("#vch_year").text(dArr[0]);
                $("#vch_period").text(m);
            }
        }


        function saveVoucher() {
            if (endEditing()) {
                var voucherDetails = [];
                var changeRows = dgWrapper.dg.datagrid("getChanges");
                if (changeRows.length == 0) {
                    $.messager.show({ title: '保存', msg: '没有修改内容' });
                    return;
                }

                $.post("/api/voucher/saveVoucher",
                    {
                        VId:$("#VId").val(),
                        CwId: $("#cw").combobox("getValue"),
                        CertWordSn: $("#ss").numberspinner('getValue'),
                        InvoiceCount: $("#attCw").numberbox('getValue'),
                        VoucherDate: $("#dd").datebox("getValue"),
                        VoucherDetails: changeRows
                    },
                    function (data) {
                        if (responseHandle(data)) {
                            loadVoucher(data.State.VId);
                            $.messager.show({ title: '保存', msg: '保存操作成功完成' });
                        }
                    });
            }
        }
        function addVoucher() {
            if (endEditing()) {
                $(globVar.vTable).datagrid('appendRow', { VId: $("#VId").val(), VdId:0, Abstract: "", AccId: "", AccountCode: "", Quantity: 0, Price: 0, AccountName: "", Debit: 0, Credit: 0 });

            }
        }
        function reviewVoucher() {
            $.post("/api/voucher/audit", { VId: $("#VId").val() },
                function (data) {
                    if (responseHandle(data)) {
                        loadVoucher($("#VId").val());
                    }
                });
        }
        function delVoucher()
        {
            $.post("/api/voucher/del", { VId: $("#VId").val() },
                function (data) {
                    if (responseHandle(data)) {
                        newVoucher();
                    }
                });
        }

        
        function prevClick() {

            if (globVar.voucherIndex == 0) { $.messager.alert("前一项", "已到达第一项", "info"); return; }

            if (globVar.voucherIndex > 0) globVar.voucherIndex--;
            binding(globVar.voucher[globVar.voucherIndex]);
        }
        function nextClick() {

            if (globVar.voucherIndex == globVar.voucher.length - 1) { $.messager.alert("下一项", "已到达最后一项", "info"); }

            if (globVar.voucherIndex < globVar.voucher.length - 1) globVar.voucherIndex++;
            binding(globVar.voucher[globVar.voucherIndex]);
        }

        function cwOnLoadSuccess()
        {
            $(this).combobox("select", $(this).combobox("getData")[0].CwId);
        }

        function treeOnSelect(node)
        {
            $(globVar.vTable).datagrid('getRows')[dgWrapper.editIndex]['AccountCode'] = node.attributes.AccCode;
            $(globVar.vTable).datagrid('getRows')[dgWrapper.editIndex]['AccountName'] = node.attributes.AccName;
        }


        function fmtAbstract(value, row, index)
        {
            //var btnModAbs = '<a class="easyui-linkbutton" onclick="modAbs(' + row.AbsId + ',\'' + row.Abstract + '\')">修改</a> ';
            var btnDelAbs = '<a class="easyui-linkbutton" onclick="absDel(' + row.AbsId + ')">删除</a> ';

            return  btnDelAbs;
        }

        function dgOnBeginEdit(ind, row)
        {
            var ed = $(globVar.vTable).datagrid('getEditor', { index: ind, field: 'AccId' });
            var t = $(ed.target).combotree("tree");
            t.tree({ onSelect: treeOnSelect });

            $(ed.target).combotree("loadData", globVar.accountData);
        }

        function dgOnDblClickRow(index, row)
        {
            var ed = dgWrapper.dg.datagrid('getEditor', { index: dgWrapper.editIndex, field: 'Abstract' });
            $(ed.target).textbox('setValue', row.Abstract);
            $("#abstractsWin").dialog("close");
        }


        function invoiceFile()
        {
            if (globVar.voucherIndex>=0)
                top.AddTabIframe('上传原始凭证', '/RichFilemanager/index.html?expandedFolder=' + globVar.voucher[globVar.voucherIndex].InvoicePath + '&vid=' + globVar.voucher[globVar.voucherIndex].VId);
            else
                top.AddTabIframe('上传原始凭证', '/RichFilemanager/index.html');
        }
        
        //=========事件响应=====

    </script>
    </body>
</html>