@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/easyui")

    <style type="text/css">
        form div {
            padding: 5px;
        }



        .datagrid-header-row td div {
            text-align: center !important;
            font-weight: bold;
        }

        form div {
            display: inline-block;
        }
    </style>

</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="padding:10px;overflow:hidden;background-color:#F2F2F2;">
            <form id="sForm" method="post">
                <div>会计期间：<input class="easyui-combobox" id="StartPeriod" name="StartPeriod" data-options="valueField:'val',textField:'text'" style="width:100px;height:30px;" /> 至 <input class="easyui-combobox" id="EndPeriod" name="EndPeriod" data-options="valueField:'val',textField:'text'" style="width:100px;height:30px;" /></div>

                <div><span style="padding-left:12px;">会计科目：</span><input class="easyui-combotree" id="AccCode"  data-options="width:200,height:30,onSelect:acccodeOnSelect" />
                <input type="hidden" name="ParentAccCode" id="ParentAccCode" />
                </div>

                <div><a href="javascript:void(0)" id="btnSearch" class="easyui-linkbutton" data-options="iconCls:'fa fa-search fa-lg'" onclick="javascript: $('#sForm').submit();" style="width:100px;">查询</a></div>
            </form>
        </div>
        <div data-options="region:'center',border:true" style="padding:10px;">
            <table class="easyui-datagrid" id="vvList"
                   data-options="fit:true,singleSelect:true,fitColumns:true">
                <thead>
                    <tr>
                        <th data-options="field:'VoucherDate',width:50,align:'center'">日期</th>
                        <th data-options="field:'CertWordString',width:50,align:'center'">凭证字号</th>
                        <th data-options="field:'Abstract',width:200,formatter:fmtAbstract">摘要</th>
                        <th data-options="field:'Debit',width:80,align:'center'">借方</th>
                        <th data-options="field:'Credit',width:60,align:'center'">贷方</th>
                        <th data-options="field:'Direction',width:60,align:'center'">方向</th>
                        <th data-options="field:'Balance',width:60,align:'center'">余额</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript">
    var globVar = {
        accountData: @Html.Raw(Model.AccountsJson),
    };

    $(function () {
        init();
    });

    function init()
    {
        $("#sForm").form({
            url: "/api/LedgerSheet/GetMultiColumn/",
            onSubmit: formOnSubmit,
            success: formSuccess
        });

        $.get("/api/LedgerSheet/GetMyPaymentTerms", null, function (data) {
            $("#StartPeriod").combobox("loadData", data);
            $("#EndPeriod").combobox("loadData", data);
            $("#StartPeriod,#EndPeriod").combobox("select", data[data.length - 1].val);
        });

        $("#AccCode").combotree("loadData",globVar.accountData);
    }

    function formOnSubmit() {
        return $(this).form('validate');
    }

    function formSuccess(data) {
        if (responseHandle(data)) {
            $("#vvList").datagrid("loadData", []);
            $("#vvList").datagrid("loadData", JSON.parse(data));
        }
    }

    function onTreeClick(node)
    {
        $("#vvList").datagrid("load", { accid : node.id});
    }

    function zeroFormatter(value, row, index)
    {
        if (value == 0) return "";
        else return '<span style="font-weight:bolder;">' + parseFloat(value).toFixed(2) + "</span>";
    }

    function acccodeOnSelect(node)
    {
        $("#ParentAccCode").val(node.attributes.AccCode);
        }

        function fmtAbstract(value, row, index) {
            if (row.CertWordString == "") {
                value = "&nbsp;&nbsp;" + value;
            }

            return value;
        }

    </script>
</body>
</html>
